.settings
.classpath
.project
/core/target/
/target/
/provider/target/
/provider/assemblage/target/
/integration/target/
/misc/target/
/integration/db-builder/target/
/integration/meta-db/target/
/komet/target/
/komet/iconography/target/
/komet/taxonomy-view/target/
/komet/gui-contracts/target/
/komet/search-view/target/
/komet/drag-tab/target/
/komet/css/target/
/komet/application/target/
/solor/target/
/solor/solor-parent/target/
*.
