/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.buttonSearchCloseIcon {
    -glyph-size: 15;
    -glyph-name: CLOSE;
}
.clearButton{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.searchBoxLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 13;
    -glyph-name: SEARCH;
}
.searchField:fail {
    -fx-background-color: #ff4500;
}
.searchField:success {
 -fx-background-color: #3cb371;
}
.searchField:noresults {
 -fx-background-color: #f0e68c;
}
.searchField:cancelled {
  -fx-background-color: #a9a9a9;
}



