<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="sh.komet.fx.stage">
	<Appenders>
		<!-- Console logging -->
		<!-- Pattern info: date priority{5 chars} thread logger{abbreviated} (file:line) - message -->
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern = "%d{HH:mm:ss,SSS}  %-5p (%F:%L) [%t] - %m%n" />
			<Filters>
				<!--Don't log these specific loggers to the console-->
				<ThresholdFilter level="DEBUG"/>  <!--During non-dev, would probably set this to WARN -->
				<!-- LoggerNameFilter name="net.sagebits.HK2Utilities.ClassInfo" onMatch="DENY" onMismatch="NEUTRAL"/>
				<LoggerNameFilter name="net.sagebits.HK2Utilities.HK2RuntimeInitializer" onMatch="DENY" onMismatch="NEUTRAL"/ -->
				<LoggerNameFilter name="org.apache.commons.beanutils" onMatch="DENY" onMismatch="NEUTRAL"/>
				<LoggerNameFilter name="org.apache.shiro" onMatch="DENY" onMismatch="NEUTRAL"/>
				<LoggerNameFilter name="org.drools.core.common" onMatch="DENY" onMismatch="NEUTRAL"/>
				<LoggerNameFilter name="sh.isaac.api.LookupService" onMatch="DENY" onMismatch="NEUTRAL"/>
			</Filters>
		</Console>
		
		<!-- Prints everything -->
		<File name="FILE-DEBUG" fileName="komet-debug.log">
			<PatternLayout pattern = "%d %-5p [%t] %logger (%F:%L) - %msg%n"/>
			<Filters>
				<ThresholdFilter level="DEBUG"/>  <!--Take to trace, if you want way too much stuff-->
			</Filters>
		</File>
		
		<!-- Prints errors and warnings only -->
		<File name="FILE-ERROR" fileName="komet-error.log">
			<PatternLayout pattern = "%d %-5p [%t] %logger (%F:%L) - %msg%n"/>
			<Filters>
				<ThresholdFilter level="WARN"/>
			</Filters>
		</File>
		
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE-DEBUG" />
			<AppenderRef ref="FILE-ERROR" />
		</Root>
	</Loggers>
</Configuration>
